* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #FFF;
}

.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 800,
      'GRAD' 0,
      'opsz' 48
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #2c165c;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 120px;
    width: 40%;
    background-color: #FFF;
    border-radius: 20px;
    height: 75vh;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: 0 10px;
    height: 70%;
    background-color: #1d5e28;
    border-radius: 20px;
}

.actions span {
    font-size: 150px;
    display: block;
}

.actions p {
    font-size: 30px;
    font-weight: bolder;
}

.actions:hover {
    opacity: 0.5;
}

/*FORMATAÇÃO PÁGINA DE CADASTRO*/

#salvar {
    display: block;
    text-transform: capitalize;
    font-size: 30px;
    margin: 20px 0 0 0;
    background-color: #1d5e28;
    color: #FFF;
    border-radius: 10px;
    padding: 10px 0;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}

h1 {
    text-align: center;
}

.texto {
    height: 30px;
}

.label-input {
    margin-top: 15px;
}

.label-radio {
    display: inline;
}

#back {
    color: #1d5e28;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

#cadastrado {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    background-color: #3c32a8;
    display: none;
}

/*FORMATAÇÃO PÁGINA DE PESQUISA*/

#info-area {
    display: none;
    margin-top: 15px;
}

#user-info {
    width: 66%;
}

#user-actions {
    width: 33%;
}

#user-info p {
    margin: 10px 0;
}

#user-actions input {
    width: 100%;
    height: 33%;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
}

#editar {
    background-color: #1d5e28;
}

#deletar {
    background-color: #9c172b;
    margin: 5px 0;
}

#calcular {
    background-color: #3c32a8;
}


