<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/styles.css}" href="../static/styles.css" >
</head>
<body>

<div id="container">
    <a href="CadastrarPessoa.html" class="actions">
            <span class="material-symbols-outlined">
                account_circle
            </span>
        <p>Cadastrar</p>
    </a>

    <a href="PesquisarPessoa.html" class="actions">
            <span class="material-symbols-outlined">
                travel_explore
            </span>
        <p>Pesquisar</p>
    </a>
</div>

</body>
</html>