<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles.css}" href="../static/styles.css">
    <title>Pesquisar Pessoa</title>
</head>
<body>

<div id="container">

    <form action="/api/pessoas" method="get">
        <h1>Pesquisar pessoa:</h1>
        <label class="label-input">Id:</label>
        <input name="idPessoa" class="texto">
        <input id="salvar" onclick="buscarDados();" type="button" value="buscar">
        <div id="info-area">
            <div id="user-info">
                <p>Nome:</p>
                <p>Data Nascimento:</p>
                <p>CPF:</p>
                <p>Sexo:</p>
                <p>Altura:</p>
                <p>Peso:</p>
            </div>
            <div id="user-actions">
                <input id="editar" type="button" value="editar">
                <input id="deletar" type="button" value="deletar">
                <input id="calcular" onclick="exibirPesoIdeal();" type="button" value="calcular peso">
            </div>
        </div>
        <a href="/" id="back">&lt;&lt;Voltar</a>
    </form>

</div>

<script>
    function exibir() {
        document.getElementById("info-area").style.display = "flex";
    }

    function exibirPesoIdeal(){
        let peso = ( 72.7 * 1.7 )-58;
        window.alert(`Seu peso ideal é ${peso} Kgs`);
    }

    async function buscarDados(){
        try {
            const response = await fetch("/api/pessoas/1")
            const data = await response.json()
            console.log(data)
        } catch (error){
            console.error(error)
        }
    }
</script>
</body>
</html>