<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/styles.css}" href="../static/styles.css">
    <title>Pesquisar Pessoa</title>
</head>
<body>

<div id="container">

    <form action="/api/pessoas/" id="formulario" method="get">
        <h1>Pesquisar pessoa:</h1>
        <label class="label-input">Id:</label>
        <input name="idPessoa" id="idPessoa" class="texto">
        <input id="salvar" onclick="buscarDados();" type="button" value="buscar">
        <div id="info-area">
            <div id="user-info">
                <p><label>Nome:  </label><input name="nome" id="nome" type="text"></p>
                <p><label>Data Nascimento:  </label><input name="dataNasc" id="dataNasc" type="date"></p>
                <p><label>CPF:  </label><input name="cpf" id="cpf" type="text"><p></p>
                <p><label>Sexo:  </label>
                    <span><input name="sexo" type="radio" id="M" value="M"> Masculino
                    <input name="sexo" type="radio" id="F" value="F"> Feminino</span> </p>
                <p><label>Altura:  </label><input name="altura" id="altura" type="number" step="0.01"></p>
                <p><label>Peso:  </label><input name="peso" id="peso" type="number" step="0.1"></p>
            </div>
            <div id="user-actions">
                <input id="editar" type="submit" onclick="atualizaDados();" value="atualizar">
                <input id="deletar" type="button" onclick="deletaDados();" value="deletar">
                <input id="calcular" onclick="exibirPesoIdeal();" type="button" value="calcular peso">
            </div>
        </div>
        <a href="/" id="back">&lt;&lt;Voltar</a>
    </form>

</div>

<script>

    var idPessoa = 0;
    var nome = "";
    var dia = 0;
    var mes = 0;
    var ano = 0;
    var sexo = "";
    var altura = 0;
    var peso = 0;

    function exibir() {
        document.getElementById("info-area").style.display = "flex";
        document.getElementById("nome").value = nome;
        document.getElementById("cpf").value = cpf;
        document.getElementById("dataNasc").value = ano+"-"+mes+"-"+dia;
        document.getElementById(sexo).checked = true;
        document.getElementById("altura").value = altura;
        document.getElementById("peso").value = peso;
    }

    function exibirPesoIdeal(){
        let peso = 0;
        if (sexo === 'M'){
            peso = ( 72.7 * altura )-58;
        } else {
            peso = ( 62.1 * altura )-44.7;
        }
        window.alert(`${nome}, seu peso ideal é de ${peso.toFixed(1)} Kgs`);
    }

    async function buscarDados(){
        idPessoa = document.getElementById("idPessoa").value;
        console.log(idPessoa);
        try {
            const response = await fetch(`/api/pessoas/${idPessoa}`);
            const data = await response.json();
            console.log(data);
            nome = data.nome;
            cpf = data.cpf;
            let dataNasc = new Date(data.dataNasc);
            sexo = data.sexo;
            altura = data.altura;
            peso = data.peso;
            dia = dataNasc.getDate() > 9 ? dataNasc.getDate() : "0" + dataNasc.getDate();
            mes = dataNasc.getMonth() + 1 > 9 ? dataNasc.getMonth() + 1 : "0" + (dataNasc.getMonth() + 1);
            ano = dataNasc.getFullYear();
            exibir();
        } catch (error){
            console.error(error)
        }
    }

    function deletaDados(){

        var xhr = new XMLHttpRequest();
        xhr.open('post', `/api/pessoas/delete/${idPessoa}`, true);
        xhr.send();

        window.alert("Dados deletados com sucesso");
    }

    function atualizaDados(){
        document.getElementById("formulario").action = `/api/pessoas/update/${idPessoa}`;
        document.getElementById("formulario").method = "post";
        window.alert("Dados atualizados com sucesso");
    }
</script>
</body>
</html>